<h1 style="text-align: center;">
    {{title}}
  </h1>
  
  <h2>Validacion de Correo</h2>
  
  Correo Electronico<input type="text" [(ngModel)]="vericorreo">
  
  <button (click)="verificacioncorreo(vericorreo)">Validar</button>
  
  <p>Vereficacion: {{verificacion}}</p>
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <h2>Validacion de Texto</h2>
  
  <h3>Caracteristicas de texro <br/>
      @#####@######@.......@ <br/>
      Donde @ se mantiene, # le corresponde un solo numero de 0 a 9 y . es equivale un simbolo alfanumerico
  </h3>
  texto <input type="text" [(ngModel)]="veritexto">
  
  <button (click)="validacion(veritexto)">Validar</button>
  
  <p>Vereficacion: {{validaciontex}}</p>
  
  